@import "helpers/mixins";
@import "helpers/global-rules";

@import "header.scss";
@import "footer.scss";
@import "about/about.scss";
@import "contact/contact.scss";
@import "landing/landing.scss";
@import "portfolio/portfolio.scss";
@import "pricing/pricing.scss";
@import "reviews/reviews.scss";
@import "services/services.scss";
@import "stats/stats.scss";
@import "subscribe/subscribe.scss";
@import "video/video.scss";


.ad {
  padding: $section-padding 0;
  position: relative;
  @include image-with-overlay(
    "https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/quote.jpg",
    0.4
  );
  text-align: center;
  color: white;
  .quote {
    font-size: 30px;
    margin-bottom: 15px;
  }
}


