* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-heading {
  width: 100%;
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 120px;
  border: 1px solid black;
  bottom: -30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  background-color: transparent;
  width: 14px;
  height: 14px;
  border: 1px solid true;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  position: absolute;
  bottom: -37.5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main-heading p {
  width: 550px;
  max-width: 100%;
  line-height: 1.8;
  margin: 0 auto 100px;
  color: #777;
}

.btn {
  display: block;
  position: relative;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 15px 20px;
  margin: 30px auto 0;
  background-color: #19c8fa;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}

.subscribe {
  position: relative;
  padding: 100px 0;
  background-color: #1f2021;
  background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg");
  background-size: cover;
}

.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.subscribe .container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) and (max-width: 991px) {
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe .container .content {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
}

@media (min-width: 767px) and (max-width: 991px) {
  .subscribe .container .content {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .subscribe .container .content {
    margin-top: 40px;
  }
}

.subscribe .container .subscribe-form {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 1px solid white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  max-width: 100%;
}

.subscribe .container .subscribe-form .form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.subscribe .container .subscribe-form .email {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 17px;
  width: calc(63% + 20px);
  margin-left: 35px;
}

.subscribe .container .subscribe-form .email:focus {
  outline: none;
}

.subscribe .container .subscribe-form .btn {
  border: none;
  font-size: 17px;
  font-weight: 100;
  display: inline-block;
  margin: -25px;
}
/*# sourceMappingURL=subscribe.css.map */