@import "../helpers/mixins";
@import "../helpers/global-rules";


.about {
    position: relative;
    text-align: center;
    padding: $section-padding 0 0;
    .container {
      overflow: hidden;
  
      img {
        margin-bottom: -120px;
        @include responsive(mobile) {
          width: 80%;
          margin-bottom: -15%;
        }
        @include responsive(small) {
          width: 80%;
          margin-bottom: -100px;
        }
      }
    }
  }